<!doctype html>
<html>
<head>
    <title>NgSpinner test</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery-ui.css" rel="stylesheet">
	
	<!-- Javascript -->
	<script type="text/javascript" src="js/jquery-2.1.0.min.js" ></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.numeric.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	<script type="text/javascript" src="js/zscript.js"></script>
</head>
<body ng-app="miktemk">
	
<div class="container ">
<div class="row">
<div class="col-md-12" ng-controller="testController">

	<H3>Basic example:</H3>
	<input ng-spinner="xxx" ng-min="xmin" ng-max="xmax" ng-step="xstep" />
	<br/>
	<ul>
		<li>angular value: {{ xxx }}</li>
		<li>min value: {{ xmin }}</li>
		<li>max value: {{ xmax }}</li>
		<li>step value: {{ xstep }}</li>
	</ul>
	<button class="btn btn-default" ng-click="xxx=3">Set to 3</button>
	<button class="btn btn-default" ng-click="xxx=6">Set to 6</button>
	<br>
	<button class="btn btn-default" ng-click="xmin=0">Set min to 0</button>
	<button class="btn btn-default" ng-click="xmin=3">Set min to 3</button>
	<button class="btn btn-default" ng-click="xmax=6">Set max to 6</button>
	<button class="btn btn-default" ng-click="xmax=10">Set max to 10</button>
	<br>
	<button class="btn btn-default" ng-click="xmin=null">clear min</button>
	<button class="btn btn-default" ng-click="xmax=null">clear max</button>
	<br>
	<button class="btn btn-default" ng-click="xstep=1">step=1</button>
	<button class="btn btn-default" ng-click="xstep=2">step=2</button>
	<button class="btn btn-default" ng-click="xstep=null">step=null</button>
	<br>
	<H3>Now for some hardcoded bounds: </H3>
	<ul>
		<li>angular value2: {{ xxx2 }} (initially null)</li>
	</ul>
	<input ng-spinner="xxx2" ng-min="2" ng-max="12" /> (2-12)
	<br/>
	Unfortunatelly they don't work with each other:
	<br/>
	<input ng-spinner="xxx2" ng-min="0" ng-max="5" /> (0-5)
	<H3>Disable test: </H3>
	<input type="checkbox" ng-model="disableTest" />
	Disabled: 
	<input ng-spinner="xxx2" ng-min="2" ng-max="12" ng-disabled="disableTest" /> (2-12) {{disableTest | json}}
</div>
</div>
</div>

</body>
</html>
